In [1]:
# SQLite のモジュールをインポートする
import sqlite3
 
# Weather.db に接続する
conn = sqlite3.connect("Weather.db", isolation_level=None)

# "GW" テーブルを作成する (month, day, highest, lowest, humidity, weather) 
# VARCHAR: 可変長文字列型, INTEGER: 整数, REAL: 実数
sql="""
CREATE TABLE GW (
    month INTEGER, 
    day INTEGER, 
    highest REAL, 
    lowest REAL, 
    humidity INTEGER, 
    weather VARCHAR(10)
);
"""

conn.execute(sql)

In [2]:

# レコードを登録する
conn.execute("INSERT INTO GW VALUES (4, 29, 19.2, 11.3, 76, 'Rain');")
conn.execute("INSERT INTO GW VALUES (4, 30, 21.7, 10.6, 49, 'Sunny');")
conn.execute("INSERT INTO GW VALUES (5, 1, 19.0, 10.1, 76, 'Rain');")
conn.execute("INSERT INTO GW VALUES (5, 2, 21.5, 7.7, 62, 'Sunny');") 
conn.execute("INSERT INTO GW VALUES (5, 3, 21.6, 7.8, 54, 'Sunny');") 
conn.execute("INSERT INTO GW VALUES (5, 4, 26.1, 9.8, 49, 'Sunny');")  
conn.execute("INSERT INTO GW VALUES (5, 5, 29.3, 11.9, 45, 'Sunny');")  
conn.execute("INSERT INTO GW VALUES (5, 6, 26.1, 15.2, 57, 'Cloudy');") 
conn.execute("INSERT INTO GW VALUES (5, 7, 28.5, 16.7, 57, 'Sunny');")  
conn.execute("INSERT INTO GW VALUES (5, 8, 22.3, 12.2, 41, 'Sunny');")

In [20]:
sql="SELECT month, day,highest,humidity FROM GW WHERE humidity < 50 AND highest > 20;"
c=conn.execute(sql)
for row in c:
    print (row)

(4, 30, 21.7, 49)
(5, 4, 26.1, 49)
(5, 5, 29.3, 45)
(5, 8, 22.3, 41)